body {
  font-family: Arial, sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#08af53), to(rgba(8, 175, 83, .3)))fixed;
  height: auto;
  z-index: 1;
  margin: auto;
}

p {
  font-size: 1.2rem;
}

.navbar {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  border-radius: 3px !important;
}

.footer {
  background-color: #f5f5f5;
  border-radius: 3px !important;
 margin-bottom: -30px;
}

.nav-link {
  color: #000000 !important;
  font-size: 1.2em !important;
}

.nav-item {
  padding-right: 10px;
}

.navbar-nav>.active>a {
  color: #08af53 !important;
}

.nav-item>a:hover {
  color: #08af53 !important;
}
.navbar-toggler-icon{
  color: #08af53 !important;
}
.extend{


    min-height: calc(100vh - 40px);
}
@media screen and (max-width:767px){

.nomobile{
display:none;
}
@media screen and (max-width: 800px){
	.nomed{
		display:none;
}
